$primary: #311b92;
$primaryText: #fff;

$primaryDark: #000063;
$primaryDarkText: #fff;

$primaryLight: #6746c3;
$primaryLightText: #fff;

$secondary: #ffee58;
$secondaryText: #000;

$filler: #eee;
$fillerDark: darken(#eee, 10%);
$fillerText: #000;

body {
  background: $filler;
  font-family: sans-serif;
}

h1, h2, p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.45;
}

p.above-list {
  margin-bottom: 7px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
